<a href="https://colab.research.google.com/github/chiranjivia567-rgb/ML/blob/main/pandas3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd


import kagglehub
path = kagglehub.dataset_download("kundanbedmutha/exam-score-prediction-dataset")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'exam-score-prediction-dataset' dataset.
Path to dataset files: /kaggle/input/exam-score-prediction-dataset

In [17]:
df = pd.read_csv(full_csv_path)
df.head()

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        20000 non-null  int64
 1   age               20000 non-null  int64
 2   gender            20000 non-null  object
 3   course            20000 non-null  object
 4   study_hours       20000 non-null  float64
 5   class_attendance  20000 non-null  float64
 6   internet_access   20000 non-null  object
 7   sleep_hours       20000 non-null  float64
 8   sleep_quality     20000 non-null  object
 9   study_method      20000 non-null  object
 10  facility_rating   20000 non-null  object
 11  exam_difficulty   20000 non-null  object
 12  exam_score        20000 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 2.0+ MB

In [24]:
numerical_values=df.select_dtypes(include=['int64', 'float64'])

numerical_values.mean()
numerical_values.corr()

,student_id,age,study_hours,class_attendance,sleep_hours,exam_score
student_id,1.000000,-0.002574,0.002116,0.001128,-0.000560,0.003269
age,-0.002574,1.000000,0.002955,0.008449,-0.000385,0.006522
study_hours,0.002116,0.002955,1.000000,-0.001645,-0.004533,0.717788
class_attendance,0.001128,0.008449,-0.001645,1.000000,0.007187,0.308850
sleep_hours,-0.000560,-0.000385,-0.004533,0.007187,1.000000,0.133222
exam_score,0.003269,0.006522,0.717788,0.308850,0.133222,1.000000

In [26]:
catagorical_data=df.select_dtypes(include=['object'])
catagorical_data.describe()

,gender,course,internet_access,sleep_quality,study_method,facility_rating,exam_difficulty
count,20000,20000,20000,20000,20000,20000,20000
unique,3,7,2,3,5,3,3
top,other,bca,yes,average,self-study,medium,moderate
freq,6726,2902,16988,6694,4079,6760,9878

In [27]:
df.isnull().sum()

student_id          0
age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64

In [33]:
df['age'].describe()
median_age=df['age'].median()
print(median_age)

20.0

In [36]:
df.exam_score.describe()
df['result']=df['exam_score'].apply(lambda x: 'pass' if x>=40 else 'fail')
df.head()

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score,result
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9,pass
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8,pass
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3,pass
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7,fail
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7,pass

In [38]:
df['study_method'].str.strip()

0             coaching
1        online videos
2             coaching
3        online videos
4             coaching
             ...
19995       self-study
19996         coaching
19997      group study
19998       self-study
19999         coaching
Name: study_method, Length: 20000, dtype: object

In [39]:
df['study_method'].unique()

array(['coaching', 'online videos', 'mixed', 'self-study', 'group study'],
      dtype=object)

In [42]:
df['exam_difficulty'].replace('moderate', '1')

0        hard
1           1
2           1
3           1
4           1
         ...
19995    easy
19996       1
19997    easy
19998       1
19999       1
Name: exam_difficulty, Length: 20000, dtype: object